<%- include('partials/header') %>
<h1>Contact</h1>
<p>
    <%= contactCont %>
    <h5> Reach me at : </h5>
    <li><a href="https://www.quora.com/profile/Divyanshu-Kushwaha-12">Quora</a></li>
    <li><a href="https://www.instagram.com/dkdivyanshu118/">Instagram</a></li>
</p>
<%- include('partials/footer') %>
